<template>
  <div id="message-container" :style="messageStyle" v-if="isVisible">
    <p>{{ siteInfo.message }}</p>
    <button type="submit" @click="hideMessage()">Close X</button>
  </div>
</template>

<script>
export default {
  name: 'Message',
  props: ['siteInfo'],
  data () {
    return {
      isVisible: true,
      messageStyle: {
        position: 'fixed',
        top: '0',
        left: '0',
        right: '0',
        width: '200px',
        height: '120px',
        display: 'block',
        'z-index': 9999,
        'font-size': '20px',
        'text-align': 'center',
        'background-color': 'aqua'
      }
    }
  },
  methods: {
    hideMessage () {
      this.isVisible = false
      chrome.runtime.sendMessage({ action: 'message_closed', data: this.siteInfo })
    }
  }
}
</script>

<style>

</style>
